<script type="text/x-kendo-tmpl" id="EmployeeAvatarTemplate">
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <img src="@(Url.Content("~/images/employees/"))#:EmployeeId#.png" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="employee-name">#:FullName#</span>
        </div>
    </div>
</script>